div {
        background: rgb(0,0,255);
        color:#FFFFFF;
        display:block;
        width:40%;
        height:115px;
        margin:0 auto;
        
}

h2,p {    text-align: center;}

p
{
        padding:50px auto;
        display: block;
        margin: 0 auto;
        border:5px solid #00ffff;
        width:50%;
}