#logo {
        display:inline-block;
        border-top:2px double blue;
        border-bottom: 2px double blue;
        margin: 0 auto;
        width:6%;
        height:5%; 
        float:left;
        
        }

body {
        margin:2%;
        font-size:120%;
}


span {
        display: inline-block;
        float: left;
        margin:0 auto;
        width:20%;
        height:auto;
        padding:2.25%;
        padding-left:0;
        padding-right:0;
}

p {
    clear:both;
    padding:1%;
}